body{
    background: url("./img/stones.jpg"); 
}

header{
    display: flex;
    justify-content: space-between;
}
div{
    width: 150px;
    height: 100px;
    background-color: rgba(226, 229, 160, 0.877);
    border: 2px solid blue;
    text-align: center;
    padding-top: 55px;
}

#justi-s{
    display: flex;
    justify-content: space-around;
}

#justi-s1{
    display: flex;
    justify-content: center;
} 

#justi-s2{
    display: flex;
    justify-content: flex-end;
}  

