html{
   font-family: 'Cantarell', sans-serif;
}

body{
/* border: 3px solid pink;  */
margin: 0;
padding: 0;   
}

#idx-art{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-image:url("./img/torii.jpg");
background-attachment: fixed;
background-position: top;
background-size: cover;
background-repeat: no-repeat; 
}

.idx-center{
display: flex;
flex-flow: column nowrap;
justify-content: center;
align-items: center;
color: rgb(216, 241, 230);
/* обрамление текста */
text-shadow: 1px 0 1px black, 
0 1px 1px #000, 
-1px 0 1px #000, 
0 -1px 1px #000;
/* обрамление текста */
}

h1{
    font-size: 2rem;
    font-weight: bold;
}

h2{
    font-family: 'Kotta One', serif;
    font-size: 1.5rem;
}

h3{
    font-size: 1rem;
    
}
 
.idx-button{
    background-color: rgb(159, 52, 221);
    margin: 5px;
    padding: 0.5rem;
    font-size: 13px;
    color: rgb(183, 221, 221);
    /* обрамление текста */
    /* text-shadow: 1px 0 1px black, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000; */
    /* обрамление текста */
}