html{
   font-family: 'Cantarell', sans-serif;
}

body{
/* border: 3px solid pink;  */
margin: 0;
padding: 0;   
}

#idx-art > div{
    height: 90vh;
}

#idx-art{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-image:url("./img/torii.jpg");
background-attachment: fixed;
background-position: top;
background-size: cover;
background-repeat: no-repeat;
color: rgb(216, 241, 230);
/* обрамление текста */
text-shadow: 1px 0 1px black, 
0 1px 1px #000, 
-1px 0 1px #000, 
0 -1px 1px #000;
/* обрамление текста */ 
}

.idx-spase{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.idx-center{
display: flex;
flex-flow: column nowrap;
justify-content: center;
align-items: center;
}

h1{
    font-size: 2rem;
    font-weight: bold;
}

h2{
    font-family: 'Kotta One', serif;
    font-size: 1.5rem;
}

h3{
    font-size: 1rem;
    
}
 
button{
    background-color: transparent;
    border: 3px solid rgb(153, 0, 255);
    border-radius: 5px;
    margin: 5px;
    padding: 0.5rem;
    font-size: 13px;
    color: rgb(183, 221, 221);
    /* обрамление текста */
    text-shadow: 1px 0 1px black, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    /* обрамление текста */
}