ul:first-child{
    color: blueviolet;
}

li:last-child{
    color: red;
}

li:nth-child(even){
    background-color: bisque;
}

table, tr, td {
    width: 100%;
    border: 2px solid blue;
}

tr:nth-child(odd){
    background-color: aquamarine;
}