/* comments ctrl+/ */
html{
    background-color: rgb(112, 109, 109);
}
body{
    width: 94%;
    margin: 0 auto;
    background: url("./img/listilki.jpg"); 
}
div{
    /* width: 200px; */
    height: 150px;
    border: 2px solid rgb(240, 117, 72);
    /* background-color: rgb(82, 204, 198); */
}
p{
    background-color: rgb(209, 231, 250);
}
.backgrimg1{
    width: 200px;
    height: 200px;
    border: 2px solid rgb(13, 199, 97);
    border-radius: 100%;
    background-image: url("/img/chiang.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
}
.backgrimg2{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(13, 199, 97);
    border-radius: 100%;
    background-image: url("/img/chiang.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
}
.one {
    display: block;
    margin: 0 auto;
    border: 15px groove coral;
    border-radius: 100%
}

.two {
    border: 10px dashed rgb(255, 238, 80);
    border-radius: 80%
}

.three {
    border: 12px double rgb(37, 194, 186);
}

.four {
    border: 13px ridge rgba(80, 127, 255, 0.5);
}

img {
    border: 11px  rgb(188, 255, 80);
}

.center_text{
    text-align: center;
}

.right_text{
    text-align: right;
}

.justify_text{
    text-align: justify;
}

/* LVHA последовательность построения для атрибутов а: */
.shadow_link{
    text-shadow: 5px 5px 5px rgb(212, 10, 10);
}

a{
    display: block;
    font-size: 4rem;
    margin: 0 auto;
    text-align: center;
}

a:link{
    color: blue;
}

a:visited{
    color: rgb(21, 255, 0);
    
}

a:hover{
    color: blueviolet;
}

a:active{
    color: brown;
}

p::first-letter{
    font: bold;
    font-size: 36px;
    color: rgb(151, 65, 65);
    /* line-height: .5;  хрень какая то*/
}

p::first-line{
    color: rgb(192, 45, 192)
}

div p{
    background-color: rgb(17, 136, 58);
}

div ~ p{
    background-color: rgb(135, 211, 179);
}

/* другие примеры и объяснение "div p" на https://www.w3schools.com/css/css_combinators.asp */

h1{
    font-family: 'Inspiration';
    font-size: 4rem;
    /* font-variant: small-caps; */
    text-align: center;
    color: rgb(25, 29, 90);
    line-height: normal;
    text-shadow:0 1px 0 #ccc, 
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
}

h2{
    font-family: 'Inspiration';
    font-size: 2rem;
    font-variant: small-caps;
    font-weight: normal;
    line-height: 2; 
    text-transform: uppercase;
    text-align: center;
    color: rgb(236, 10, 10);
    /* text-shadow: 5px 2px 5px rgb(19, 17, 18); */
    background-color: rgb(152, 219, 197);
}

.big_A{
    font-family: 'Inspiration';
    font-size: 7rem;
    text-align: center;
    font-weight: 800;
    text-shadow: 5px 2px 5px rgb(228, 120, 18);
}

.dudes{
    font-size: 5rem;
    color: red;
}

@font-face {
    font-family: 'Inspiration';
    src: url(/Fonts/Inspiration.ttf) format('truetype');
    font-style: normal; 
    font-weight: normal;
}