/* comments ctrl+/ */
html{
    background-color: rgb(112, 109, 109);
}
body{
    width: 94%;
    margin: 0 auto;
    background: url("./img/listilki.jpg"); 
}
div{
    width: 200px;
    height: 150px;
    border: 2px solid rgb(240, 117, 72);
    /* background-color: rgb(82, 204, 198); */
}
p{
    background-color: rgb(209, 231, 250);
}
.backgrimg1{
    width: 200px;
    height: 200px;
    border: 2px solid rgb(13, 199, 97);
    border-radius: 100%;
    background-image: url("/img/chiang.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
}
.backgrimg2{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(13, 199, 97);
    border-radius: 100%;
    background-image: url("/img/chiang.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
}
.one {
    display: block;
    margin: 0 auto;
    border: 15px groove coral;
    border-radius: 100%
}

.two {
    border: 10px dashed rgb(255, 238, 80);
    border-radius: 80%
}

.three {
    border: 12px double rgb(37, 194, 186);
}

.four {
    border: 13px ridge rgba(80, 127, 255, 0.5);
}

img {
    border: 11px  rgb(188, 255, 80);
}

.center_text{
    text-align: center;
}

.right_text{
    text-align: right;
}

.justify_text{
    text-align: justify;
}

/* LVHA последовательность построения для атрибутов а: */
a:link{
    color: blue;
}

a:visited{
    color: aqua;
}

a:hover{
    color: blueviolet;
}

a:active{
    color: brown;
}

p::first-letter{
    font: bold;
    font-size: 36px;
    color: rgb(151, 65, 65);
    /* line-height: .5;  хрень какая то*/
}

p::first-line{
    color: rgb(192, 45, 192)
}

div p{
    
    background-color: rgb(190, 204, 195);
}

div ~ p{
    background-color: rgb(135, 211, 179);
}

/* другие примеры и объяснение "div p" на https://www.w3schools.com/css/css_combinators.asp */

h1{
    font-family: serif;
    font-size: 30px;
    text-align: center;
    color: rgb(25, 29, 90);
}
