ul:first-child{
    color: blueviolet;
}

li:last-child{
    color: red;
}

li:nth-child(even){
    background-color: bisque;
}

table, tr, td {
    width: 100%;
    border: 2px solid blue;
}

tr:nth-child(odd){
    background-color: rgb(191, 196, 193);
}

li:nth-child(3n+5){
    background-color: rgb(250, 125, 146);
}